.btn {
    background: $color-gradient;
    border-radius: 50px;
    color: $color-secondary;
    padding: 15px 20px;
    margin-top: 20px;
    @include box-shadow-2;
    transition: .3s;

    &:hover, &:active, &:focus {
        background-color: $color-white;
        @include box-shadow-1;
        opacity: 0.8;
    }
}

.heart {
    &__dot {
        font-size: 22px;
        font-weight: 200;   /*** essayer avec H,W mais trop petit ***/
    }
}

.btn__heart {
    position: relative;
    @include flexbox-center;
    font-size: 24px;
    
    &:hover .fa-solid, &:active .fa-solid, &:focus .fa-solid {  /*** état après **/
            cursor: pointer;
            transition: 2s;
            opacity: 1;
    }

    .fa-regular {
    position: absolute;
    margin-right: 30px;
    }

    .fa-solid {  /*** état avant **/
        opacity: 0;
        margin-right: 30px;
        position: absolute;
        background: $color-gradient;
        background-clip: text;
        color: transparent;
        transition:  .3s; 
    }
}    



