.btn {
    background: $color-gradient;
    background-color: lighten($color-white, 100%);
    border-radius: 50px;
    color: $color-secondary;
    padding: 15px 20px;
    margin-top: 20px;
    @include box-shadow-2;
    transition: .3s;

    &:hover {
        background-color: $color-white;
        @include box-shadow-1;
        background-color: lighten($color-white, 100%);
    }
}

.heart {
    &__dot {
        font-size: 22px;
        font-weight: 200;   /*** essayer avec H,W mais trop petit ***/
        
    }
}