.btn {
    background-image: $color-gradient;
    border-radius: 50px;
    color: $color-secondary;
    padding: 15px 20px;
    margin-top: 20px;
    @include box-shadow-1;
}

.heart {
    &__dot {
        font-size: 22px;
        font-weight: 200;   /*** essayer avec H,W mais trop petit ***/
        
    }
}