.loader {
    background: rgba($color-white, 0.95);
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    @include flexbox-center;
    animation: loader 1s 1s ease-out both;
    
    &__bloc {
        display: flex;
        flex-direction: row;
    }
    
    &__point {
        background-color: $color-primary;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        margin: 10px;
        animation: primary 1s ease-in-out;
    }
}

.location {
    background-color: #eaeaea;
    height: 50px;
    padding: 0;
    @include flexbox-center;
    @include box-shadow-1;

    &__txt {
        font-size: 16px;
        font-weight: 500;
    }

    &__dot {
        margin-right: 15px;
    }
}

/*** Presentation / Fonctionnement ***/

.functioning { 
    text-align: center;
    padding: 40px 25px 70px 25px;

    & h2 {
        font-size: 2.5rem;
        @include mobile {
        font-size: 1.5rem;
    }
    }
    
    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        padding: 10px 0 20px 0;
    }
}

/*** Filtres ***/

.filter{
    background-color: $color-secondary;
    gap: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    & h2 {
        padding-left: 180px;
    }

    & span {
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        
    }

    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        padding: 28px 180px 0 180px;
        margin: 0;
        
    
        
        @include mobile {
            flex-direction: column;
            padding: 0 0 0 0;
            
        }
        @include tablet {
            flex-direction: column;
            padding: 0 0 0 0;
            
        }
    }

    &__li {
        width: 100%;
        font-weight: 500;
        @include box-shadow-2;
        border-radius: 20px;
        padding: 25px 35px 25px 0;
        
        background-color: #eaeaea;
        @include tablet {
            width: auto;
        }
        
        &:hover, &:active, &:focus {

            .filter__dot {
                color: $color-primary;
            }
        }
    }

    &__number {
        background-color: $color-primary;
        color: $color-secondary;
        border-radius: 50px;
        padding: 5px 10px 5px 10px;
        margin-left: -10px;
        margin-right: 10px;
        
        @include mobile {
            width: auto;
            margin-right: 10px;
        }
    }

    &__dot {
        color: #7e7e7e;
        font-size: 20px;
        margin-right: 20px;
        transition: color 0.3s;
        @include tablet {
            margin-right: 5px;
        }
    }
}

/*** Restaurants ***/

.restaurants {
    h2 {
    padding-left: 180px;
}
}
.cards {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 50px 100px;
    padding: 25px 180px 0 180px;
    
    
    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0 0 0 0;
    }
}    
.card {
    background-color: $color-white;
    position: relative;
    border-radius: 15px;
    @include box-shadow-2;
    &:hover, &:active, &:focus {
        @include box-shadow-1
    }

    &__img {
        display: flex;

        & img {
            height: 251px;
            width: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
    }

    &__new {
        position: absolute;
        background-color: $color-tertiary;
        color: #008766;
        border-radius: 3px;
        font-size: 0.875rem;
        padding: 8px;
        top: 10px;
        right: 10px;
    }

    &__fig {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 10px 20px;
    }

    &__title {
        font-size: 1.125rem;
        margin: 0 0 5px 0;
    }

    &__subtitle {
        font-size: 1.063rem;
        font-weight: 300;
    }
}
