.location {
    background-color: #eaeaea;
    height: 50px;
    padding: 0;
    @include flexbox-center;
    @include box-shadow-1;

    &__txt {
        font-size: 16px;
        font-weight: 500px;
    }

    &__dot {
        margin-right: 15px;
    }

}

.functioning { 
    text-align: center;
    padding: 40px 25px 70px 25px;
    

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        padding: 10px 0 20px 0;
    }
}

.filter{
    background-color: $color-secondary;

    &__ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 20px 0 0 0;
        margin: 0;
        @include mobile {
            flex-direction: column;
        }
        
    }

    &__li {
        font-weight: 500;
        @include box-shadow-1;
        border-radius: 20px;
        padding: 25px 35px 25px 0;
        margin: 0 14px;
        background-color: #eaeaea;
        width: auto;
        margin: 0 0 0 14px;
    }

    &:hover {
        .filter__dot {
            color: $color-primary;
        }
    }

    &__number {
        background-color: $color-primary;
        color: $color-secondary;
        border-radius: 50px;
        padding: 5px 10px 5px 10px;
    }

    &__dot {
        color: #7e7e7e;
        font-size: 20px;
        margin-right: 20px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
