.footer {
    background-color: $color-grey;
    padding: 30px 20px 20px 30px;
    @include tablet {
        padding: 16px;
    }

    &__first {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;

    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: baseline;
        gap: 16px;
    }

    @include tablet {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: baseline;
        gap: 16px;
    }

    
    }
      
    &__title {
    font-size: 1.125rem;
    font-family: $font-title;
    color: $color-white;
    order: 5;
    margin-right: 30px;
    padding-left: 20px;

    @include tablet {
        margin-top: 16px;
    }

    }
    
    & li a {
    color: $color-white;
    }

    & ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 35px;
    @include tablet {
        @include flex-footer;
        padding: 16px;
        margin-top: 0;
    }
    }
}

.footer-dot {
    margin-right: 10px;
}    
    