
.header {
    height: 63px;
    
    @include flexbox-center;
    position: relative;
    background-color: $color-white;
    @include box-shadow-1;

    &__logo {
        font-family: "Shrikhand", cursive;
        font-size: 36px;
    }
}